<% if signed_in? %>
    <div class="TopOfThings">
      <a name="topofthings"></a>
    </div>
    <div id="container">
      <div class="first">
        <div class="ChooseYourPath">
          <%= image_tag("ChooseYourPath.png")%>
        </div>
        <div class="WhatIsIt">
          <%= image_tag("WhatIsIt.png")%>
        </div>
        <div class="ButtonsSignedIn">
          <div style="float:left;">
            <%= link_to image_tag("Want.png"),  request_path, :class => "modal-link",
                        "data-target" => "#myModal",
                        "data-toggle" => "modal" ,
                        "data-backdrop" => "static" %>
          </div>
          <div style="float:left;">
            <%= link_to image_tag("Help.png"), mate_path, class:"modal-link",
                        "data-target" => "#myModal",
                        "data-toggle" => "modal",
                        "data-backdrop" => "static" %>
          </div>
          <div style="float:left;">
            <%= link_to image_tag("Connect.png"), "#connect", class:"smoothScroll" %>
          </div>
        </div>
      </div>
      <div class="second">
        <div class="InBetween1">
          <a name="connect"></a>
        </div>
        <div class="MakeAConnect">
          <%= image_tag("MakeAConnect.png")%>
        </div>
        <div class="BrowseOurLists" style="float:left;">
          <%= image_tag("BrowseOurLists.png")%>
          <%= link_to image_tag("Participate.png"), "#topofthings", class:"smoothScroll" %>
        </div>
        <div class="feeds">
          <div id="mate_feed" style="float:left;">
            <div class="span5">
              <h3>Help Someone Out.</h3>
              <%=  render 'shared/request_feed' %>
            </div>
          </div>
          <div id="request_feed" style="float:left;">
            <div class="span5">
              <h3>Find a Mate.</h3>
              <%=  render 'shared/mate_feed' %>
            </div>
          </div>
        </div>
      </div>
      <div class="third">
        <div class="InBetween2">
          <a name="blog"></a>
        </div>
        <div class="ReadOurWords">
          <%= image_tag("ReadOurWords.png")%>
        </div>
      </div>
   </div>
<% else  %>
    <div class="HomeNotSignedIn" style="margin-top: 80px;margin-left: 100px;">
      <div class="span5">
        <%= image_tag("Logo.png")%>
      </div>
      <div class="span10">
        <%= image_tag("Text.png")%>
      </div>
    </div>
    <div class="ButtonsNotSignedIn" style="margin-top: 400px; margin-left: 200px;">
      <div class="span4">
        <%= link_to image_tag("SignUp.png"),  signup_path, :class => "modal-link",
                                                                                                                "data-target" => "#myModal",
                                                                                                                "data-toggle" => "modal" ,
                                                                                                                "data-backdrop" => "static" %>
      </div>
      <div class="span4">
        <%= link_to image_tag("SignIn.png"), signin_path, class:"modal-link",
                                                                                                              "data-target" => "#myModal",
                                                                                                              "data-toggle" => "modal",
                                                                                                              "data-backdrop" => "static" %>
      </div>
      <div class="span4">
        <%= image_tag("SeeHow.png")%>
      </div>
    </div>

<% end %>
