  <div class="first_how_it_works">
    <div class="UnderTheHood">
      <%= image_tag("UnderTheHood.png")%>
    </div>
    <div class="SoHowCan">
      <%= image_tag("SoHowCan.png")%>
    </div>
  </div>
  <div class="second_how_it_works">
    <div class="step1">
      <%= image_tag("Step1.png")%>
    </div>
    <div class="step1_desc">
      <%= image_tag("Step1_desc.png")%>
    </div>
  </div>
  <div class="third_how_it_works">
    <div class="step2">
      <%= image_tag("Step2.png")%>
    </div>
    <div class="step2_desc">
      <%= image_tag("Step2_desc.png")%>
    </div>
  </div>
  <div class="fourth_how_it_works">
    <div class="step3">
      <%= image_tag("Step3.png")%>
    </div>
    <div class="step3_desc">
      <%= image_tag("Step3_desc.png")%>
    </div>
  </div>

