  <div class="first_how_it_works">
    <div class="UnderTheHood">
      <%= image_tag("UnderTheHood.png")%>
    </div>
    <div class="SoHowCan">
      <div class="span4">
        <%= image_tag("LogoMail.png")%>
      </div>
      <div class="TextHowItWorks">
        We're glad you're still here! <br>
        So how do things work here, at BeAMate? <br>
        It's pretty simple: you perform certain actions through BeAMate, you earn Mate Points, and then you redeem them to actual gift cards! <br>
        Here it is step-by-step:
      </div>
    </div>
  </div>
  <div class="second_how_it_works">
    <div class="step1">
      <%= image_tag("Step1.png")%>
    </div>
    <div class="step1_desc">
      <div class="span6 TextHowItWorksLight">
        The first step is joining BeAMate. <br>
        Simply ask for an invite, and we'll let you know as soon as we're ready to have you on board with us.
        All of our members are rewarded with 200 Mate Points upon registration, a welcome-aboard gift for you!
      </div>
        <%= image_tag("RequestInvite.png")%>
    </div>
  </div>
  <div class="third_how_it_works">
    <div class="step2">
      <%= image_tag("Step2.png")%>
    </div>
    <div class="step2_desc">
      <div style="float:left">
        <%= image_tag("Participate.png")%>
      </div>
      <div class="span6 TextHowItWorksDark">
        We encourage you to post on BeAMate! <br>
        The more you do so, the more Mate Points you earn!<br>
        After joining us, you can: <br>
        <ul>
          <li>Post a request (i.e. I'm looking for someone to bring me the new Kindle Fire)</li>
          <li>Post a suggestion (i.e. I'm going to the USA, can bring someone the new Kindle Fire)</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="fourth_how_it_works">
    <div class="step3">
      <%= image_tag("Step3.png")%>
    </div>
    <div class="step3_desc">
      <div class="span6 TextHowItWorksLight">
       Browse our board of requests and suggestions from other people. <br>
        See a request you can help with? Or perhaps you found someone flying somewhere soon? Great! Start a conversation with them. <br>
        Talk about all the necessary details. <br>
        Earn more Mate Points!
      </div>
      <%= image_tag("ConnectHow.png")%>
    </div>
  </div>
  <div class="fifth_how_it_works">
    <div class="step4">
      <%= image_tag("Step4.png")%>
    </div>
    <div class="step4_desc">
      <div style="float:left">
        <%= image_tag("OrderOnline.png")%>
      </div>
      <div class="span6 TextHowItWorksDark">
        Alright, we're making progress! <br>
        Now we must make sure that:
        <ul>
          <li>If you're on the request side, place an order via a special link provided by BeAMate, and the item needs to be shipped to your helper's residence abroad.</li>
          <li>If you're helping someone out, you must make sure that the item is being sent to your place of residence whilst you're there.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="sixth_how_it_works">
    <div class="step5">
      <%= image_tag("Step5.png")%>
    </div>
    <div class="step5_desc">
      <div class="span6 TextHowItWorksLight">
        You have what it takes to BeAMate! <br>
        After bringing someone what they want, you receive the most Mate Points that can be earned in BeAMate -
        That amount can be exchanged to GiftCards from many known retailers around the world.
        Congradulations on completing the cycle!
      </div>
      <%= image_tag("ConnectHow.png")%>
    </div>
  </div>


