<%= form_for :message, url: [:reply, conversation] do |f| %>
    <div class="field">
      <%= f.hidden_field :subject, :value => "Reply" %>
    </div>
    <div class="field">
      <%= f.label :body, "Write a reply:" %>
      <%= f.text_field :body %>
    </div>
    <fieldset class="actions">
      <%= f.button :submit, class: "btn btn-large btn-primary" %>
    </fieldset>
<% end %>
