
<h1>Welcome, come on in!</h1>

<div class="row">
  <div class="span6">
    <%= form_for(:session, url: sessions_path, :remote => true, :html => { :id => "new_session" } ) do |f|  %>

        <%=  f.label :email, "What's your email address?"   %>
        <%=  f.text_field :email  %>

        <%=  f.label :password, "What's your password?"  %>
        <%=  f.password_field :password  %>

        <%=  f.submit "Come on in!", class: "btn btn-large btn-primary" %>

    <% end  %>
  </div>
</div>