<div class="row">
  <div class="span6">
    <div class="modal_title">
      <h1>Sign In.</h1>
    </div>
    <%= form_for(:session, url: sessions_path, :remote => true, :html => { :id => "new_session" } ) do |f|  %>
    <fieldset class="fields">
      <div class="myfield_session_email">
        <%=  f.label :email, "What's your email address?"   %>
        <%=  f.text_field :email  %>
      </div>
      <div class="myfield_session_password">
        <%=  f.label :password, "What's your password?"  %>
        <%=  f.password_field :password  %>
      </div>
   </fieldset>
   <fieldset class="actions">
     <%=  f.submit "Come on in!", :type => :image, :src => "assets/ComeInSubmit.png"  %>
   </fieldset>
    <% end  %>
    <p><%= link_to "Don't remember your password?", reset_password_path, id: "login-password_reset",
                                                                                                                                  class:"modal-link",
                                                                                                                                  "data-target" => "#passwordResetModal",
                                                                                                                                  "data-toggle" => "modal",
                                                                                                                                  "data-dismiss" => "modal" %></p>
  </div>
</div>
