<li id="<%= requestpost.id %>">
  <h4><%= requestpost.user.name %> needs someone's help!</h4>
  <%=  link_to gravatar_for(requestpost.user), requestpost.user  %>
  <span class="user">
    <b>Wanted item:</b><%= requestpost.requested_item %><br>
    <b>Willing to pay:</b><%= requestpost.willing_to_pay  %><br>
    <b>more details:</b> <br>
    <%= requestpost.content %><br>
    <%=  link_to "view profile", requestpost.user  %>
  </span>
  <span class="timestamp">
    Posted <%=  time_ago_in_words(requestpost.created_at) %> ago.
  </span>
  <% if current_user?(requestpost.user)  %>
      <%=  link_to "Remove my post" , requestpost, method: :delete, title:requestpost.content, :remote=>true, :class=>'delete_requestpost'  %>
  <% end %>
</li>