var form = $('#new_requestpost');

<% if @requestpost.errors.any? %>

if ($(".errors")[0]){
    $('.errors').remove();
}

// Create a list of errors
var errors = $('<ul />');

<% @requestpost.errors.full_messages.each do |error| %>
errors.append('<li><%= escape_javascript(error) %></li>');
<% end %>

// Display errors before the form
$('<div />').addClass('errors').html(errors).prependTo("#new_requestpost");

<% else %>

// Scroll down to requestpost display area
$('html, body').animate({
    scrollTop: $("#request_feed").offset().top
}, 1000);

// Add the new requestpost to the beginning of the #requestpost division
$("#requestposts").prepend('<%= j(render(:partial => "requestpost", :object => @requestpost))%>').hide().fadeIn(1500);
$('#myModal').modal('hide');
$('#requestposts').prepend('<div class="EarnMatePointsClass" id="RequestpostPointID"><%= escape_javascript(flash.discard(:notice)) %></div>');
$('#RequestpostPointID').hide().fadeIn(<%= BeAMateRails::Application::NOTIF_ID_FADEIN %>).delay(<%= BeAMateRails::Application::NOTIF_ID_DELAY%>).fadeOut();

<% end %>