<% if conversation.is_unread?(current_user)  %>
    <div  class="feed_item_unread" style="width:350px">
<% else %>
    <div  class="feed_item" style="width:350px">
<% end  %>
  <ul class="user_chat">
    <li><h4><%= link_to conversation.subject, conversation %></h4></li>
    <% if  conversation.last_sender.name == current_user.name %>
        <li><h6>Last message sent by you <%=  time_ago_in_words(conversation.last_message.created_at) %> ago</h6></li>
    <% else  %>
        <li><h6>Last message sent by <%= conversation.last_sender.name %> <%=  time_ago_in_words(conversation.last_message.created_at) %> ago</h6></li>
    <% end  %>
    <li><h6>Originally initiated by <%= conversation.originator.name %> <%=  time_ago_in_words(conversation.created_at) %> ago</h6></li>
    <% if conversation.is_completely_trashed?(current_user) %>
        <center><%= link_to image_tag("RestoreConversation.png"), [:untrash, conversation], method: :post %></center>
    <% else %>
        <center><%= link_to image_tag("MoveToTrash.png"), [:trash, conversation], method: :post %></center>
    <% end %>
  </ul>
</div>

