<div id="container">
  <div class="first_conversations">
    <div class="LetsTalk">
      <%= image_tag("LetsTalk.png")%>
    </div>
    <div class="Communicate">
      <%= image_tag("Communicate.png")%>
    </div>
    <div class="MyConversations">
      <%= render (mailbox.inbox + mailbox.sentbox).sort_by { |conversation| conversation.last_message.created_at }.reverse.uniq %>


      <% if !(mailbox.trash.empty?) %>
        <div class="Trash">
          <%= image_tag("Trash.png")%>
        </div>
      <% end %>
      <% mailbox.trash.each do |conversation| %>
          <% if (conversation.receipts_for(current_user).where("deleted = ?", true).empty?) %>
              <%= render conversation %>
          <% else  %>

          <% end %>
      <% end %>
      <% if !(mailbox.trash.empty?) %>
          <div class="EmptyTrash">
            <%= link_to image_tag("EmptyTrash.png"), 'empty_trash', :confirm => 'Empty trash?'%>
          </div>
      <% end  %>
    </div>
  </div>
</div>
