<div id="container">
  <div class="first_conversations">
    <div class="LetsTalk">
      <%= image_tag("LetsTalk.png")%>
    </div>
    <div class="Communicate">
      <%= image_tag("Communicate.png")%>
    </div>
    <div class="MyConversations">
      <%= render mailbox.inbox %>
      <%=  render mailbox.sentbox %>

      <% if !(mailbox.trash.empty?) %>
          <h2>Trash</h2>
      <% end %>
      <% mailbox.trash.each do |conversation| %>
          <% if (conversation.receipts_for(current_user).where("deleted = ?", true).empty?) %>
              <%= render conversation %>
          <% else  %>

          <% end %>
      <% end %>
      <% if !(mailbox.trash.empty?) %>
          <%= link_to 'Empty Trash', 'empty_trash', :confirm => 'Empty trash?'%>
      <% end  %>
    </div>
  </div>
</div>
