<div id="container">
  <div class="signup">
    <div class="LetsBeFriends">
      <%= image_tag("LetsBeFriends.png")%>
    </div>
    <div class="CordiallyInvited">
      <%= image_tag("CordiallyInvited.png")%>
    </div>
    <div class="row">
      <div class="SignupForm">
        <%= form_for(@user, :remote => true) do |f| %>
            <%= f.hidden_field :invitation_token %>
            <fieldset class="fields">
              <%=  render 'shared/error_messages', object: f.object  %>
              <div class="field">
                <%= f.label :name, "What's your name?" %>
                <%= f.text_field :name %>
              </div>
              <div class="field">
                <%= f.label :email, "What's your email address?" %>
                <%= f.text_field :email  %>
              </div>
              <div class="field">
                <%= f.label :password, "Pick your password:" %>
                <%= f.password_field :password  %>
              </div>
              <div class="field">
                <%= f.label :password_confirmation, "Confirm your password:" %>
                <%= f.password_field :password_confirmation %>
              </div>
            </fieldset>
            <fieldset class="actions">
              <%=  f.submit "Join Us!", :type => :image, :src => "../assets/JoinUsSubmit.png"  %>
            </fieldset>
        <% end  %>
      </div>
    </div>
  </div>
</div>
