<% provide(:title, @user.name) %>
  <div class="UserProfile span6">
    <div class="ProfileGravatar">
      <%= gravatar_for @user %>
      <h1>Here's your profile:</h1>
    </div>
    <div class="ProfileDetails">
      Your name is: <h2><%= @user.name  %></h2><br>
      Your Email address is: <h2><%= @user.email  %></h2><br>
      The total Mate Points you've earned so far is:: <h2><%= @user.mate_points  %> pts.</h2><br>
      Your current Mate Level is: <h2>Level <%= @user.mate_level %></h2><br>
    </div>
  </div>


