<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span2">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name  %>
      </h1>
    </section>
  </aside>
  <div class="span5">
    <% if @user.requestposts.any?  %>
        <h3>You have (<%= @user.requestposts.count %>) Request Posts.</h3>
        <ol class="requestposts">
          <%=  render 'shared/user_request_feed' %>
        </ol>
    <% end  %>
  </div>
  <div class="span5">
    <% if @user.mateposts.any?  %>
        <h3>You have (<%= @user.mateposts.count %>) Mate Posts.</h3>
        <ol class="requestposts">
          <%=  render 'shared/user_mate_feed' %>
        </ol>
    <% end  %>
  </div>
</div>

