<li id="<%= mate_feed_item.id %>">
  <h4><%= mate_feed_item.user.name %> is flying soon!</h4>
  <%=  link_to gravatar_for(mate_feed_item.user), mate_feed_item.user  %>
  <span class="user">
    <b>Flying to:</b><%= mate_feed_item.flying_to %><br>
    <b>Country of origin:</b> <%= mate_feed_item.flying_from  %><br>
    <b>Departure date:</b><%= mate_feed_item.departing_on  %><br>
    <b>Return date:</b> <%= mate_feed_item.returning_on  %><br>
    <b>more details:</b> <br>
    <%= mate_feed_item.content %><br>
    <%=  link_to "view profile", mate_feed_item.user  %>.<br>
  </span>
  <span class="timestamp">
    Posted <%=  time_ago_in_words(mate_feed_item.created_at) %> ago.<br>
  </span>
  <% if current_user?(mate_feed_item.user)  %>
      <%=  link_to "Remove my post" , mate_feed_item, method: :delete, title:mate_feed_item.content, :remote=>true, :class=>'delete_matepost' %><br>
  <% else  %>
      <%= link_to "Ask #{mate_feed_item.user.name}!",  {:controller => "conversations", :action => "new", :recipient_id => mate_feed_item.user.id}, :class => "modal-link btn btn-primary btn-large",
                                                                                                            "data-target" => "#myModal",
                                                                                                            "data-toggle" => "modal",
                                                                                                            "data-backdrop" => "static" %><br>
  <% end %>
</li>