<li id="<%= request_feed_item.id %>">
  <h4><%= request_feed_item.user.name %> needs someone's help!</h4>
  <%=  link_to gravatar_for(request_feed_item.user), request_feed_item.user  %>
  <span class="user">
    <b>Wanted item:</b><%= request_feed_item.requested_item %><br>
    <b>Willing to pay:</b><%= request_feed_item.willing_to_pay  %><br>
    <b>more details:</b> <br>
    <%= request_feed_item.content %><br>
    <%=  link_to "view profile", request_feed_item.user  %>
  </span>
  <span class="timestamp">
    Posted <%=  time_ago_in_words(request_feed_item.created_at) %> ago.
  </span>
  <% if current_user?(request_feed_item.user)  %>
      <%=  link_to "Remove my post" , request_feed_item, method: :delete, title:request_feed_item.content, :remote=>true, :class=>'delete_requestpost'  %>
  <% end %>
</li>