  <%= form_for(@requestpost, :remote => true) do |f| %>
      <%=  render 'shared/error_messages', object: f.object  %>
      <fieldset class="fields">
        <div class="field">
          <%= f.label :requested_item, "What do you want?"   %>
	  <%= f.text_field :requested_item %>
        </div>
        <div class="field">
          <%= f.label :give_giftcards, "How many gift cards will you give in return?"   %>
          <%= f.select :give_giftcards, options_for_select([["Select One", ""], "1 Gift Card", "2 Gift Cards", "3 Gift Cards"]), :id => "requestpost_select"%>
        </div>
        <div class="field">
           <%= f.label :content, "Please add some more details:"   %>
	       <%= f.text_area :content,  "rows" => 3 %>
        </div>
      </fieldset>
      <fieldset class="actions">
        <%= f.submit "Want Something!", :type => :image, :src => "assets/WantSomethingSubmit.png"  %>
      </fieldset>
  <% end %>
