<li id="<%= user_request_feed_item.id %>">
  <h4><%= user_request_feed_item.user.name %> needs someone's help!</h4>
  <%=  link_to gravatar_for(user_request_feed_item.user), user_request_feed_item.user  %>
  <span class="user">
    <b>Wanted item:</b><%= user_request_feed_item.requested_item %><br>
    <b>Willing to pay:</b><%= user_request_feed_item.willing_to_pay  %><br>
    <b>more details:</b> <br>
    <%= user_request_feed_item.content %><br>
    <%=  link_to "view profile", user_request_feed_item.user  %>
  </span>
  <span class="timestamp">
    Posted <%=  time_ago_in_words(user_request_feed_item.created_at) %> ago.
  </span>
  <% if current_user?(user_request_feed_item.user)  %>
      <%=  link_to "delete" , user_request_feed_item, method: :delete,
                                                                            data: { confirm: "Delete requestpost?"},
                                                                            title:user_request_feed_item.content  %>
  <% end %>
</li>