<div id="<%= user_mate_feed_item.id %>" class="feed_item" style="width:350px">
  <ul class="user_mate">
    <h4><%= user_mate_feed_item.user.name %> is flying soon!</h4>
    <li><%=  link_to gravatar_for(user_mate_feed_item.user), user_mate_feed_item.user  %></li>
    <li><b>Flying to:</b><%= user_mate_feed_item.flying_to %></li>
    <li><b>Country of origin:</b> <%= user_mate_feed_item.flying_from  %></li>
    <li><b>Departure date: </b><%= mate_feed_item.departing_on.strftime("%d/%m/%Y")  %></li>
    <li><b>Return date:</b> <%= mate_feed_item.returning_on.strftime("%d/%m/%Y")  %></li>
    <li><b>More details:</b><%= user_mate_feed_item.content %></li>
    <% if current_user?(user_mate_feed_item.user)  %>
        <center><li><%=  link_to image_tag("RemovePost.png") , mate_feed_item, method: :delete, title:mate_feed_item.content, :remote=>true, :class=>'delete_matepost' %></li></center>
    <% else  %>
        <li><%= link_to image_tag("SendMessage.png"),  {:controller => "conversations", :action => "new", :recipient_id => user_mate_feed_item.user.id}, :class => "modal-link",
                        "data-target" => "#myModal",
                        "data-toggle" => "modal",
                        "data-backdrop" => "static" %> <%=  link_to image_tag("ViewProfile.png"), user_mate_feed_item.user %></li>
    <% end %>
    <div class="timestamp">
      <li>This was posted <%=  time_ago_in_words(user_mate_feed_item.created_at) %> ago.</li>
    </div>
  </ul>
</div>