<div class="InBetween1">
  <a name="connect"></a>
</div>
<div class="MakeAConnect">
  <%= image_tag("MakeAConnect.png")%>
</div>
<div class="BrowseOurLists">
  <%= image_tag("BrowseOurLists.png")%>
  <%= link_to image_tag("Participate.png"), "#topofthings", class:"smoothScroll" %>
</div>
<div class="feeds">
  <div id="request_feed" style="float:left;">
    <div class="span5">
      <h3>Help Someone Out.</h3>
      <%=  render 'shared/request_feed' %>
    </div>
  </div>
  <div id="mate_feed" style="float:left;">
    <div class="span5">
      <h3>Find a Mate.</h3>
      <%=  render 'shared/mate_feed' %>
    </div>
  </div>
</div>