<div class="InBetween1">
  <a name="connect"></a>
</div>
<div class="MakeAConnect">
  <%= image_tag("MakeAConnect.png")%>
</div>
<div class="BrowseOurLists">
  <div class="span4 ParticipateText">
    Hi, you've reached the BeAMate board. <br>
    This is where your posts appear, whether you're looking for an item to be brought for you from abroad, <br>
    or you wish to help someone out, by bringing them what they want from abroad. <br>
    Feel free to have a look, and once you find something that gets your attention, start a conversation! <br>
    Every message you send to another person gives you more Mate Points! <br><br>
    <center><%= image_tag("MatePointsToBeEarned.png")%><h2><%= BeAMateRails::Application::MESSAGE_MATE_POINTS %> pts. </h2></center>
  </div>
  <%= link_to image_tag("Participate.png"), "#topofthings", class:"smoothScroll" %>
</div>
<div class="feeds">
  <div id="request_feed" style="float:left;">
    <div class="span5">
      <div class="TextAboveFeeds">
        Give someone a hand.
      </div>
      <%=  render 'shared/request_feed' %>
    </div>
  </div>
  <div id="mate_feed" style="float:left;">
    <div class="span5">
      <div class="TextAboveFeeds">
        Ask someone's help.
      </div>
      <%=  render 'shared/mate_feed' %>
    </div>
  </div>
</div>