<div class="row">
  <div class="span6">
    <h1>Be a part of BeAMate!</h1>
    <h4>Welcome! We are currently in  beta stage.<br>
            Want to be a part of it?<br>
            We're going to  need your email address for that.<br>
            We'll send you an invite as soon as possible:</h4>
    <%= form_for(@invitation, :remote => true, :html => { :id => "new_invitation" }) do |f| %>
        <%=  render 'shared/error_messages', object: f.object  %>
        <fieldset class="fields">
          <div class="field">
            <%= f.label :recipient_email, "What's your email address?" %>
            <%= f.text_field :recipient_email %>
          </div>
        </fieldset>
        <fieldset class="actions">
          <%=  f.submit "Ask Invite!", :type => :image, :src => "assets/AskInviteSubmit.png"  %>
        </fieldset>
    <% end %>
  </div>
</div>