<div class="row">
  <div class="span6">
    <h1>Invite a friend to BeAMate!</h1>
    <h4>
      Know any cool people?<br>
      Share BeAMate and earn extra Mate Points!<br>
      Leave their email address and we'll invite them.</h4>
    <center><%= image_tag("MatePointsToBeEarned.png")%><h2><%= BeAMateRails::Application::INVITE_MATE_POINTS %> pts. </h2></center>
    <%= form_for(@invitation, :remote => true, :html => { :id => "new_invitation" }) do |f| %>
        <%=  render 'shared/error_messages', object: f.object  %>
        <fieldset class="fields">
          <div class="field">
            <%= f.label :recipient_email, "What's your friend's email address?" %>
            <%= f.text_field :recipient_email %>
          </div>
        </fieldset>
        <fieldset class="actions">
          <%=  f.submit "Ask Invite!", :type => :image, :src => "../assets/InviteaFriendSubmit.png"  %>
        </fieldset>
    <% end %>
  </div>
</div>