<div id="<%= matepost.id %>" class="feed_item" style="width:350px">
  <ul class="user_mate">
    <h4><%= matepost.user.name %> is flying soon!</h4>
    <li><%=  link_to gravatar_for(matepost.user), matepost.user  %></li>
    <li><b>Flying to:</b><%= matepost.flying_to %></li>
    <li><b>Country of origin:</b> <%= matepost.flying_from  %></li>
    <li><b>Departure date: </b><%= matepost.departing_on.strftime("%d/%m/%Y")  %></li>
    <li><b>Return date:</b> <%= matepost.returning_on.strftime("%d/%m/%Y")  %></li>
    <li><b>More details:</b><%= matepost.content %></li>
    <% if current_user?(matepost.user)  %>
        <center><li><%=  link_to image_tag("RemovePost.png") , matepost, method: :delete, title:matepost.content, :remote=>true, :class=>'delete_matepost' %></li></center>
    <% else  %>
        <% if current_user.admin?  %>
            <center><li><%=  link_to "Remove this post" , matepost, method: :delete, title:matepost.content, :remote=>true, :class=>'delete_matepost' %></li></center>
        <% end  %>
        <li><%= link_to image_tag("SendMessage.png"),  {:controller => "conversations", :action => "new", :recipient_id => matepost.user.id}, :class => "modal-link",
                        "data-target" => "#myModal",
                        "data-toggle" => "modal",
                        "data-backdrop" => "static" %> <%=  link_to image_tag("ViewProfile.png"), matepost.user %></li>
    <% end %>
    <div class="timestamp">
      <li>This was posted <%=  time_ago_in_words(matepost.created_at) %> ago.</li>
    </div>
  </ul>
</div>