<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
      <%= link_to image_tag("LogoSmall.png"), root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right" id="header_items">
          <li class="border"><%= link_to image_tag("HomeHeader.png"), root_path %></li>
          <li class="border"><%= link_to image_tag("InviteaFriendHeader.png"), invite_path, class:"modal-link",
                                                                               "data-target" => "#myModal",
                                                                               "data-toggle" => "modal",
                                                                                "data-backdrop" => "static" %></li>
          <li class="border"><%= link_to image_tag("SeeHowHeader.png"), "#" %></li>
          <% if signed_in?  %>
              <li class="border"><%= link_to image_tag("ChatHeader.png"), conversations_path %></li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= image_tag("AccountHeader.png") %> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", current_user  %></li>
                  <li><%= link_to "Settings", edit_user_path(current_user)  %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Sign out", signout_path, method: "delete"  %>
                  </li>
                </ul>
              </li>
          <% end %>
        </ul>
      </nav>
  </div>
</header>