<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <ul class="nav pull-left" id="header_items">
      <li><%= link_to image_tag("LogoSmall.png"), root_path, id: "logo" %></li>
      <li class="header_text">Hey there <%= current_user.name  %>, we love having you aboard! </li>
    </ul>

      <nav>
        <ul class="nav pull-right" id="header_items">
          <li class="border"><%= link_to image_tag("HomeHeader.png"), root_path %></li>
          <li class="border"><%= link_to image_tag("InviteaFriendHeader.png"), invite_path, class:"modal-link",
                                                                               "data-target" => "#myModal",
                                                                               "data-toggle" => "modal",
                                                                                "data-backdrop" => "static" %></li>
          <li class="border"><%= link_to image_tag("SeeHowHeader.png"), howitworks_path %></li>
          <% if signed_in?  %>
              <% if current_user.mailbox.receipts.where(:is_read => false).count > 0 %>
                  <li class="border"><%= link_to image_tag("ChatNewHeader.png"), conversations_path %></li>
              <% else  %>
                  <li class="border"><%= link_to image_tag("ChatHeader.png"), conversations_path %></li>
              <% end  %>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= image_tag("AccountHeader.png") %> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "My posts", '#'  %></li>
                  <li><%= link_to "My Profile", edit_user_path(current_user), class:"modal-link",
                                                                                                                                            "data-target" => "#myModal",
                                                                                                                                            "data-toggle" => "modal",
                                                                                                                                            "data-backdrop" => "static" %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Sign out", signout_path, method: "delete"  %>
                  </li>
                </ul>
              </li>
          <% end %>
        </ul>
      </nav>
  </div>
</header>