<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "modal" %>
  <%= javascript_include_tag "password_resets" %>
  <%= javascript_include_tag "flash_fade" %>
  <%= javascript_include_tag "smoothscroll" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<%= render 'layouts/background' %>
<div id="wrapper">
  <div class="container">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>" id="<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </div>
  <div id="push"></div>
</div>
<div id="FeedbackButton">
  <%= link_to "", contact_path, class:"modal-link",
                                                              "data-target" => "#myModal",
                                                              "data-toggle" => "modal",
                                                              "data-backdrop" => "static" %>
</div>
<%= render 'modals/modal' %>
<%= render 'modals/password_reset' %>
</body>
</html>