<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <script src="js/bootstrap-modal.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <link rel="image_src" href="http://i1352.photobucket.com/albums/q647/Omer_Salomon/LogoMail_zpscaef6a61.png" />
  <meta property="og:image" content="http://i1352.photobucket.com/albums/q647/Omer_Salomon/LogoMail_zpscaef6a61.png"/>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "modal" %>
  <%= javascript_include_tag "password_reset" %>
  <%= javascript_include_tag "flash_fade" %>
  <%= javascript_include_tag "smoothscroll" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<%= render 'layouts/background' %>
<div id="wrapper">
  <div class="container">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </div>
  <div id="push"></div>
</div>
<% if !(current_page? root_path and signed_in?) %>
    <%= render  'layouts/footer' %>
<% end  %>
<div id="FeedbackButton">
  <%= link_to "", contact_path, class:"modal-link",
                                                              "data-target" => "#myModal",
                                                              "data-toggle" => "modal",
                                                              "data-backdrop" => "static" %>
</div>
<%= render 'modals/modal' %>
<%= render 'modals/password_reset' %>
</body>
</html>