<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <script src="js/bootstrap-modal.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "modal" %>
  <%= javascript_include_tag "flash_fade" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container" style="width:1400px">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>

</div>
<div id="FeedbackButton">
  <%= link_to "", contact_path, class:"modal-link",
                                                              "data-target" => "#myModal",
                                                              "data-toggle" => "modal",
                                                              "data-backdrop" => "static",
                                                             "data-keyboard" => "false" %>
</div>
<%= render 'modals/modal' %>

</body>
</html>